#app {
	width: 100%;
	display: flex;
}

#editor, #preview {
  padding: 20px;
  display: block;
	margin: auto;
	width: 50%;
	height: 100vh;
	border-style: solid;
	border-width: 1px;
	border-color: black;
  overflow: scroll;
}

#editor {
	resize: none;
}

