body {
	margin: 0;
}


#app {
	width: 100%;
	display: flex;
}

#editor, #preview {
	font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  padding: 20px;
  display: block;
	margin: auto;
	width: 50%;
	height: 100vh;
	border-style: none;
  overflow: scroll;
}

#preview {
	background-color: #f3f3f3;
}

#editor {
	resize: none;
}

